* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  --main-color: #0b0b0b;
}
body {
  font-family: "Roboto", sans-serif;
}
.link {
  color: inherit;
  text-decoration: none;
}
